@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url('./Pictures/header-bg.jpg');
  background-repeat: no-repeat;

  background-size: cover;
 
}

/* Navigation Bar */
.logo{
  margin-left: 3em;
  height:35px;
  
}
.header-container{
 /* background-color:rgb(39, 39, 39); */
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  background-color:rgb(39, 39, 39);
}

.nav-list{
  display:flex;
}

.nav-item{
  font-size: 110%;
  color:white;
  margin-left: 2em;
}

