* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo{
  background-image: url('https://startbootstrap.github.io/startbootstrap-agency/assets/img/navbar-logo.svg');
  background-repeat: no-repeat;
}

.nav-list{
  display:flex;
  
}

nav{
  display:flex;
}